@{
    ViewBag.Title = "Home Page";
}
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Dream Salon Manager Application</h1>

        </hgroup>
        <p>
            This Application Helps you to manage your salon More efficiently.
            With the help of this Application You Can Perform Following tasks.This Application Helps you to manage your salon More efficiently.
            With the help of this Application You Can Perform Following tasks.
        </p>
    </div>
</section>

<ol class="jumbotron" >
    <h3>The Application suggests the following:</h3>
    <li >
        <h5>Manage Membership</h5>
        You can Easily Manage your Members and their Memnership.
        <ol>
            <li>
                You can add new Member
            </li>
            <li>
                You can delete an existing Member
            </li>
            <li>
                You can update informations of an existing Member
            </li>

        </ol>
        <a href='../Members'><span>Goto Membership Manager</span></a>
    </li>

    <li>
        <h5>Manage Services And Products</h5>
        With The help of This Application you can easily manage your
        service and products by your salon.The Application Helps you do the Followings
        <ol>
            <li>
                You can add new services and Products
            </li>
            <li>
                You can delete an Services and Products
            </li>
            <li>
                You can update informations of an existing services and Products
            </li>

        </ol>
        Goto <a href='../Products'><span>Products Manager</span></a>/<a href='../Services'><span>Services Manager</span></a>
    </li>

    <li>
        <h5>More to Come.....</h5>
        There is still more functionality is being Added to this pplication which will be available soon...

    </li>
</ol>